.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    // @media screen and (min-width: 768px) {
    //     .container {
    //         max-width: 738px;
    //     }
    // }
    // @media screen and (min-width: 1200px) {
    //     .container {
    //         max-width: 1170px;
    //     }
    // }
}

.section {
    padding-top: 94px;
    &:not(.our-features) {
        padding-bottom: 94px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    margin-right: 93px;
    color: var(--black-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent {
    color: var(--accent-color);
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials-list__item {
    width: 44px;
    height: 44px;
}

.socials-list__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
    }
}

.socials-list__icon {
    fill: currentColor;
}